.about-container {
    margin: 12% 12% 8% 8%;
}

.about-heading {
    font-size: 40px;
    color: #212121;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 2rem;
}

.about-caption {
    font-size: 25px;
    color: #212121;
    margin-bottom: 20px;
    text-align: center;
}

.about-content {
    font-size: 16px;
    color: #212121;
    text-align: justify;
    padding-right: 20px;
    line-height: 1.8;
}