.star {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;

}

nav {
    position: relative;
    height: 60px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;

}

nav .nav-brand {
    position: absolute;
    left: 1.5rem;
}


nav a {
    position: relative;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(248, 244, 244);
    text-decoration: none;
    margin-left: 33px;
    padding: 0 1px;
    z-index: 1;
    justify-content: space-between;
}



nav span {
    position: absolute;
    top: 0;
    left: 2.5rem;
    width: 100px;
    height: 100%;
    background: linear-gradient(45deg, #037e89, #0359c2);
    border-radius: 10px;
    transition: 0.5s;
}

nav a:nth-child(2):hover~span {
    left: 257px;
}

nav a:nth-child(3):hover~span {
    left: 390px;
}

nav a:nth-child(4):hover~span {
    left: 540px;
}

nav a:nth-child(5):hover~span {
    left: 697px;
}

nav a:nth-child(6):hover~span {
    left: 834px;
}

nav a:nth-child(7):hover~span {
    left: 977px;
}

nav a:nth-child(8):hover~span {
    left: 1130px;
}

.detel {
    margin-left: 8%;
    margin-top: 10%;
}

.detel h1 {
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;

}

.detel h3 {
    font-size: 30px;
    color: #212121;
    margin-bottom: 20px;
  
}

span {
    color: #0293d1;
}

.detel p {
    color: #212121;
    line-height: 22px;
}

.detel a {
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin: 30px 0;
    margin-top: 4rem;
    color: white;
}

.btn-color {
    color: #fff;
    background-image: linear-gradient(45deg, #059aa7, #075070);
    border-color: #004E64;
    font-weight: bold;
    letter-spacing: 0.05em;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(2, 107, 213), 0 0 25px rgb(2, 107, 213), 0 0 50px rgb(2, 107, 213), 0 0 100px rgb(2, 107, 213), 0 0 200px rgb(2, 107, 213);
}

.images {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
    margin-top: 400px;
}

.images img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 10rem;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 9px rgb(255 255 255/30%);
    justify-self: center;
    order: 1;
    width: 400px;
    height: 400px;
    animation: profile__animate 8s ease-in-out infinite 1s;
    box-shadow: 10px 10px 7px 10px rgb(1, 1, 9);
}

@keyframes profile__animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.kalam-regular {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
}